.request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
         
}

#input {
    margin: 0 auto 40px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
  
}

#button {
    border: none;
    width: 200px;
    height: 30px;
    font-size: 18px;
    background-color: #EF9A9A;
}

.answer {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 200px
   }

#button:hover, #button:active, #button:focus {          
  transform: scale(1.2);    
  }

.picture_image {
    display: block;
    margin: 5px;
    width: 200px;
    height: 150px
}

.picture {
    width: 200px;
    margin: 20px
}
